/*-------------------------------register----------------------------------------*/
/*-------------------------------end register----------------------------------------*/

/*-------------------------------upload image----------------------------------------*/
.mf-upload {
    width: 150px;
    height: 150px;
    border: dotted red 1px;
    text-align: center;
}

/*-------------------------------end upload image----------------------------------------*/