/*-------------------------------register----------------------------------------*/
/*-------------------------------end register----------------------------------------*/

/*-------------------------------upload image----------------------------------------*/
.mf-upload {
    width: 150px;
    height: 150px;
    text-align: center;
    border: 5px solid rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    box-shadow: 0px 0px 3px 3px #F0F0F0;
    margin: auto;
}

/*-------------------------------end upload image----------------------------------------*/
/*----------------------------upload page-----------------------------------------*/
#upload-list .list-upload .parent-item{
    padding: 15px;
}
#upload-list .btn-save-upload {
    display: block;
    margin: auto;
    width: 120px;
    box-shadow: 0px 0px 2px 2px #7D7272;
}